.main-content.has-sidebars {
  width: 100%;
  margin: 0 !important;

  &.topic {
    #topic-title {
      border: none;
      padding-bottom: 0;

      .container {
        padding: 5px;
      }
    }

    .posts {
      border: none;
    }

    .topic-post>.boxed>.row {
      padding: 5px;
    }

    .post-stream {
      padding-bottom: 0;
    }
  }
}

aside.sidebar {
  width: 90vw;
  position: fixed;
  height: calc(100% - 60px);
  top: 60px;
  background-color: $secondary;

  &.open .mobile-toggle {
    box-shadow: none;
  }

  &.left {
    left: -90vw;
    border: none;

    &.open {
      border-right: 1px solid $primary-low-mid;
      box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    }
  }

  &.right {
    right: -90vw;
    border: none;

    &.open {
      border-left: 1px solid $primary-low-mid;
      box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    }
  }

  .sidebar-container {
    position: relative !important;
    min-height: 100%;
    padding-bottom: 0;

    .sidebar-content > div {
      position: relative;
      margin-bottom: 0;
    }
  }

  .mobile-toggle {
    position: absolute;
    background-color: $secondary;
    top: calc(50% - 20px);
    padding: 6px;
    line-height: 14px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);

    &:hover {
      color: $primary;
    }

    i {
      font-size: 22px;
    }

    &.left {
      border-radius: 0 4px 4px 0;
      border-right: 1px solid $primary-low-mid;
      border-bottom: 1px solid $primary-low-mid;
      border-top: 1px solid $primary-low-mid;
      right: -31px;
    }

    &.right {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid $primary-low-mid;
      border-top: 1px solid $primary-low-mid;
      border-bottom: 1px solid $primary-low-mid;
      left: -31px;
    }
  }
}

#list-area > .contents {
  border: none !important;
}

.widget-container {
  padding: 10px 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
