<table class='table layouts grid'>
  <thead>
    <th>{{i18n 'admin.layouts.widgets.name'}}</th>
    <th>{{i18n 'admin.layouts.widgets.position'}}</th>
    <th>{{i18n 'admin.layouts.widgets.order'}}</th>
  </thead>

  <tbody>
    {{#each widgets as |widget|}}
      {{admin-widget-item widget=widget
                          clear='clear'
                          orderOptions=orderOptions
                          positionOptions=positionOptions}}
    {{/each}}
  </tbody>
</table>
