<div class="admin-layouts-widget-title">  
  {{d-button
    action=(action "addWidget")
    label="admin.layouts.widgets.add"
    icon="plus"}}
</div>

<div class="admin-layouts-widget-list">
  {{#if widgets}}
    {{#each widgets as |widget|}}
      {{admin-widget-item
        widget=widget
        widgets=widgets
        removeWidget=(action 'removeWidget')}}
    {{/each}}
  {{else}}
    {{#unless loading}}
      <div>{{i18n "admin.layouts.widgets.none"}}</div>
    {{/unless}}
  {{/if}}
</div>
