{{#admin-nav}}
  {{nav-item route='adminLayouts.widgets' label='admin.layouts.widgets.nav'}}
  <li><a {{action 'showSettings'}} data-auto-route="true">{{i18n 'admin.layouts.settings.label'}}</a></li>
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
