<div class='table layouts'>
  <div class="heading-container">
    <div class="col heading first medium-label">{{i18n 'admin.layouts.widgets.name'}}</div>
    <div class="col heading medium-label">{{i18n 'admin.layouts.widgets.position'}}</div>
    <div class="col heading medium-label">{{i18n 'admin.layouts.widgets.order'}}</div>
  </div>

  {{#each widgets as |w|}}
    <div class="admin-list-item">
      {{widget-settings widget=w clear='clear' orderOptions=orderOptions positionOptions=positionOptions}}
    </div>
  {{/each}}
</div>
