.admin-layouts-widget-title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}

.admin-layouts-widget-list {
  margin-top: 20px;
}

.admin-layouts-widget {
  border-top: 1px solid var(--primary-low);
  border-bottom: 1px solid var(--primary-low);
  padding: 1rem 0;

  .top {
    display: flex;
    justify-content: space-between;

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .component {
      display: flex;
      align-items: center;
      gap: 1em;

      .install-components {
        padding: .15em .5em;
        background-color: var(--primary-low);
        color: var(--primary);
      }
    }

    .enabled {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 1rem;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .controls {
      display: flex;
      flex-direction: column;

      .inline-spinner {
        margin-right: 1rem;
      }
    }

    input[type="text"] {
      margin-bottom: 0;
    }
  }

  .bottom {
    display: flex;

    .taxonomy-attributes,
    .filter-attributes {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 30px;
    }

    .control-group {
      margin: 15px 0 0 0;
    }

    .combo-box {
      width: 130px;

      .select-kit-header {
        min-height: 36px;
      }
    }

    .select-kit.multi-select {
      width: 100%;
    }
  }

  .settings {
    display: flex;
    gap: 1em;

    textarea {
      width: 500px;
      min-height: 150px;
    }
  }
}

.admin-layouts-component-list {
  ul {
    list-style: none;
    margin: 0;

    li {
      border-top: 1px solid var(--primary-low);

      &:first-of-type {
        border-top: none;
      }
    }
  }

  .admin-layouts-component {
    display: flex;

    .about {
      flex: 1 1 auto;
      padding: 0.5rem;
    }

    .links,
    .controls {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 150px;
      justify-content: flex-end;
    }
  }
}

.btn-success {
  background: var(--success) !important;
  color: var(--secondary);

  .d-icon {
    color: var(--secondary);
  }
}

.btn-danger {
  background: var(--quaternary);
  color: var(--secondary);

  .d-icon {
    color: var(--secondary);
  }
}

$caution: #ffb347;

.btn-caution {
  background: $caution !important;
  color: var(--secondary);

  .d-icon {
    color: var(--secondary);
  }
}
