$body-extension: 150px;
$timeline-buffer: 100px;

.main-content.topic {  
  &.left-sidebar {
    .topic-body {
      width: calc(100% - #{$topic-avatar-width});
      max-width: calc(
        (#{$topic-body-width} +
        #{$topic-body-width-padding*2} +
        #{$body-extension})
        - var(--mainLeftOffset)
      );
    }
    
    .timeline-container {
      margin-left: calc( 
        (#{$topic-body-width} +
        #{$topic-body-width-padding*2} +
        #{$body-extension} +
        #{$timeline-buffer})
        - var(--mainLeftOffset)
      );
    }
  }
}