.main-content.is-responsive {
  width: 100% !important;
  margin: 0 0 60px 0 !important;

  &.topic {
    #topic-title {
      border: none;
      padding-bottom: 0;

      .container {
        padding: 5px;
      }
    }

    .posts {
      border: none;
    }

    .topic-post>.boxed>.row {
      padding: 5px;
    }

    .post-stream {
      padding-bottom: 0;
    }
  }
}

.layouts-responsive-menu {
  position: fixed;
  width: 100vw;
  height: 3.66em;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: $secondary;
  z-index: 300;
  box-shadow: 0 -2px 4px -1px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.responsive-toggle,
.responsive-link {
  background: none;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  
  img, svg {
    height: 35px;
    width: 35px;
  }
}

aside.sidebar.is-responsive {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: scroll;
  transition: all .2s ease;

  .sidebar-container {
    max-height: unset;
    height: 100vh;
    background-color: $secondary;
    border-right: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
    position: absolute;
    max-width: 80%;
    
    .sidebar-content {
      height: 100%;
    }
    
    .widget-container {
      border: none;
      border-bottom: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
    }
  }
  
  &.right .sidebar-container {
    right: 0;
  }
}

.sidebar-cloak {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  display: none;
  touch-action: pan-y pinch-zoom;
  transition: opacity 0.2s ease-out;
  z-index: 1000;
}