.main-content.mobile {
  width: 100% !important;
  margin: 0 0 60px 0 !important;

  &.topic {
    #topic-title {
      border: none;
      padding-bottom: 0;

      .container {
        padding: 5px;
      }
    }

    .posts {
      border: none;
    }

    .container.posts {
      grid-template-columns: unset;
    }

    .topic-post > .boxed > .row {
      padding: 5px;
    }

    .post-stream {
      padding-bottom: 0;
    }
  }
}

.layouts-mobile-menu {
  position: fixed;
  width: 100vw;
  height: 3.66em;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: var(--secondary);
  z-index: 300;
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-content.topic.mobile.has-menu {
  .d-toc-toggle {
    bottom: calc(3.66em + 5px);
  }
  #topic-progress-wrapper {
    bottom: 3.66em;
  }
}

.mobile-toggle,
.mobile-link {
  background: none;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  flex: 1 1 auto;
  display: block;

  img,
  svg {
    height: 35px;
    width: 35px;
  }
}

aside.sidebar.mobile {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: scroll;
  transition: all 0.2s ease;
  background: unset;
  box-shadow: unset;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .layouts-sidebar-container {
    max-height: unset;
    min-height: 100vh;
    background-color: var(--secondary);
    border-right: 1px solid var(--primary-low);
    position: absolute;
    max-width: 80%;
    top: 0;

    .sidebar-content {
      height: 100%;
    }

    .widget-container {
      border: none;
      border-bottom: 1px solid var(--primary-low);
    }
  }

  &.right .layouts-sidebar-container {
    right: 0;
  }
}

.sidebar-cloak {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  display: none;
  touch-action: pan-y pinch-zoom;
  transition: opacity 0.2s ease-out;
  z-index: 1000;
}
