@import "common/admin/admin_base";

.content-wrapper {
  text-align: center;
}

aside.sidebar {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  z-index: 1;
  position: relative;
}

.sidebar-container {
  width: inherit;
  z-index: 10;
  padding-bottom: 25px;

  &.fixed {
    position: fixed;
  }

  .sidebar-user-controls {
    position: absolute;
    bottom: 0;

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }

    .user-control {
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }

    a {
      color: dark-light-diff($primary, $secondary, 60%, -65%);
    }
  }

  .sidebar-content {
    > div {
      position: relative;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.main-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 100px;
  border-radius: 4px;

  .list-controls {
    padding: 0;
  }

  &.no-sidebars {
    display: block;
  }

  &.has-sidebars {
    .list-controls {
      width: 100%;

      .category-navigation > button {
        margin-bottom: 0;
      }

      .nav {
        margin: 0;
      }
    }

    .topic-list .posters {
      min-width: initial;
    }

    .qa-post {
      padding: 0 5px 0 20px;
    }

    .signup-cta {
      width: initial;
      margin-bottom: 0;
    }

    .topic-list-bottom h3, #suggested-topics h3 {
      font-size: 14px;
      margin-bottom: 0;

      .badge-wrapper.bullet {
        vertical-align: middle;
      }
    }

    .topic-list-bottom {
      margin: 10px;
    }

    #topic-title {
      position: relative;
      border-left: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
      border-right: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
    }

    .container.list-container {
      width: 100%;
      background-color: $secondary;
      border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
      border-radius: 4px;
    }

    .container.posts {
      border-left: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
      border-right: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
      border-bottom: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
      background-color: $secondary;
      border-radius: 0 0 4px 4px;
    }

    .timeline-container {
      z-index: 1;
    }
  }

  &.left-sidebar {
    margin-left: 10px;
  }

  &.right-sidebar {
    margin-right: 10px;
  }

  &.loading {
    margin: 0 10px;
    box-shadow: none;
  }

  &.navigation-disabled {
    .list-controls {
      padding: 0;
    }
  }

  &.nav-menu-enabled {
    ol.category-breadcrumb {
      margin: 0;
    }
  }
}

.topic-header-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  border-left: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  border-right: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  border-radius: 4px 4px 0 0;
  background-color: $secondary;
  padding-top: 15px;

  .header-nav-left, .header-nav-right {
    margin: 0 15px;

    .topic-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      max-width: 200px;
    }

    .fa {
      vertical-align: middle;
    }
  }

  .header-nav-left {
    float: left;

    .fa {
      margin-right: 7px;
    }
  }

  .header-nav-right {
    float: right;

    .fa {
      margin-left: 7px;
    }
  }
}

.widget-disabled {
  display: none;
}

.widget-container {
  border-radius: 4px;
  padding: 7px;
  border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  background-color: $secondary;
  position: relative;

  .widget-inner {
    width: 100%;
  }

  .widget-label {
    color: $tertiary;
    margin-bottom: 3px;
    font-weight: 600;
  }

  .widget-title {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 3px;
  }

  .widget-description {
    padding-bottom: 5px;
  }

  .widget-controls {
    display: inline-block;
    width: 100%;
  }

  &.hidden {
    display: none;
  }

  .widget-list {
    margin-top: 5px;

    .spinner {
      margin-left: 110px;
    }

    &.no-borders > ul > li {
      border-top: none;
      padding: 0;
    }

    ul {
      list-style: none;
      margin: 0;
    }

    &>ul>li {
      width: 100%;
      cursor: pointer;
      padding: 5px 0;
      border-top: 1px solid $primary-low;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    .list-item {
      display: flex;

      .title {
        flex: 1;
      }

      .right {
        margin-left: 5px;

        span {
          margin-right: 3px;
        }
      }
    }

    .widget-list-controls, .no-items {
      border-top: 1px solid $primary-low;
      padding-top: 5px;

      a {
        font-size: 1em;
      }
    }

    .widget-list-controls {
      padding-top: 5px;
      margin-top: 5px;
    }
  }
}

.main-content .nav-drop {
  a {
    color: $primary;
    font-size: 1.143em;
  }

  .selected-nav-item {
    display: inline-block;
    padding: 5px 8px;
    line-height: 20px;
    background-color: $quaternary !important;
    cursor: pointer;

    a {
      color: $secondary;
    }
  }

  a.nav-dropdown-btn {
    display: inline-block;
    margin-left: -4px;
    padding: 0 5px;
    line-height: 30px;
    width: 13px;
    color: $secondary;
    background-color: $quaternary;

    .fa-caret-right {
      margin-left: 2px;
    }
  }

  .nav-dropdown-menu {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    border: 1px solid dark-light-diff($primary, $secondary, 90%, -60%);
    background-color: $secondary;
    z-index: 100;

    a {
      display: block;
      border: none;
      padding: 5px 12px;
      line-height: 20px;
      transition: background .15s;

      &:hover {
        color: $quaternary;
        background-color: dark-light-diff($quaternary, $secondary, 70%, -70%);
      }
    }
  }
}

.main-content.navigation-disabled .topic-list > tbody > tr:first-of-type {
  border-top: none;
}

.main-content.header-disabled .category-list tbody tr:first-of-type, .main-content.nav-menu-enabled tbody tr:first-of-type {
  border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
}

.main-content.nav-menu-enabled {
  .list-controls {
    background-color: $secondary;
    border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
    border-radius: 4px 4px 0 0;
  }

  .container.list-container {
    border-top: none;
    border-radius: 0 0 4px 4px;
  }
}

#list-area .main-content.tags {
  .tag-notification-menu, .dropdown-toggle {
    margin: 0;
  }

  .admin-tag {
    margin: 0 8px;
  }

  .tag-show-heading {
    margin: 7px 7px 0 7px;
  }
}

.top-lists {
  padding: 0 7px;
}

.topic-list-bottom {
  margin: 20px 10px;
}

#list-area {
  margin-bottom: 0;
}

.topic-area #suggested-topics {
  margin-bottom: 0;
}

.widget-category-settings .select2-container {
  width: 100%;
}

.edit-category.backup {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#main-outlet > .category-admin-menu {
  position: fixed;
  top: 120px;
  right: 10px;
}

.map-category-settings {
  background-color: dark-light-diff($primary, $secondary, 90%, -65%);
  padding: 5px;

  .field-title {
    font-size: 16px;
  }

  input[type="file"] {
    line-height: initial;
    margin-bottom: 10px;
  }

  .current-geojson {
    display: inline-block;
    margin-right: 5px;
  }
}

.layouts-nav-button {
  @extend .nav-pills;
  float: left;
}

.layouts {
  @extend .staff-actions;
  width: 100%;

  .heading-container, .table-item {
    display: flex;
  }

  .first {
    margin-left: 10px;
  }

  .label {
    width: 10%;
    flex: 0 1 auto;
  }

  .admin-list-item .select-box-kit {
    width: initial;
  }

  .medium-label {
    width: 20%;
    flex: 0 1 auto;
    overflow: initial;
  }

  .large-label {
    width: 30%;
    flex: 0 1 auto;
  }

  .position .select2-container {
    width: 150px !important;
    min-width: 150px !important;
  }

  .controls {
    text-align: center;
  }
}

.categories-admin-dropdown {
  top: 80px;
  position: absolute;
  right: 0;
}

////////

.main-content.is-responsive {
  width: 100% !important;
  margin: 0 !important;

  &.topic {
    #topic-title {
      border: none;
      padding-bottom: 0;

      .container {
        padding: 5px;
      }
    }

    .posts {
      border: none;
    }

    .topic-post>.boxed>.row {
      padding: 5px;
    }

    .post-stream {
      padding-bottom: 0;
    }
  }
}

aside.sidebar.is-responsive {
  position: fixed;
  height: calc(100% - 60px);
  top: 60px;
  background-color: $secondary;
  font-size: 14px;

  &.open .mobile-toggle {
    box-shadow: none;
  }

  &.left {
    border: none;
    transition: left 0.2s linear;

    &.open {
      border-right: 1px solid $primary-low-mid;
      box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    }
  }

  &.right {
    border: none;
    transition: right 0.2s linear;

    &.open {
      border-left: 1px solid $primary-low-mid;
      box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    }
  }

  .sidebar-container {
    position: relative !important;
    min-height: 100%;
    padding-bottom: 0;

    .sidebar-content > div {
      position: relative;
      margin-bottom: 0;
    }
  }

  .widget-container {
    padding-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .mobile-toggle {
    position: absolute;
    background-color: $secondary;
    bottom: 10px;
    padding: 6px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    height: 50px;
    width: 50px;

    &:hover {
      color: $primary;
    }

    i {
      font-size: 22px;
    }

    &.left {
      border-radius: 0 4px 4px 0;
      border-right: 1px solid $primary-low-mid;
      border-bottom: 1px solid $primary-low-mid;
      border-top: 1px solid $primary-low-mid;
      right: -50px;
    }

    &.right {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid $primary-low-mid;
      border-top: 1px solid $primary-low-mid;
      border-bottom: 1px solid $primary-low-mid;
      left: -50px;
    }
  }
}
