.main-content.topic.has-sidebars {
  box-shadow: none;
  position: relative;

  .show-topic-admin {
    right: 15px;
    z-index: initial;
  }

  #topic-title {
    border-radius: 4px 4px 0 0;
    border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
    margin-bottom: 0;
    padding-top: 0;
    background: #fff;
    z-index: initial;

    .container {
      padding: 15px 15px 0 15px;

      .title-wrapper {
        width: 100%;

        .topic-icon-wrapper {
          display: inline-block;
          margin-right: 4px;
          vertical-align: middle;
        }

        h1 {
          display: inline-block;
          vertical-align: top;
        }

        .list-tags {
          margin: 0;
        }

        .edit-topic-title {
          width: 100%;
        }

        #edit-title {
          width: 425px;
        }

        .category-combobox, .tag-chooser {
          border: 1px solid #e9e9e9;
          margin: 0;
          margin-top: 5px;
          display: inline-block;
          vertical-align: top;
          border-radius: 3px;
          width: 400px;
        }

        .select2-choices{
          border: none;
        }

        .select2-search-field {
          min-width: 200px;

          input {
            padding: 4px;
          }
        }

        .edit-buttons {
          display: inline-block;
          vertical-align: top;

          button {
            margin: 0;
            margin-left: 7px;
          }

          .submit-edit:after {
            content: "save";
          }

          .cancel-edit:after {
            content: "cancel";
          }
        }
      }

      .topic-category-links {
        margin-bottom: 10px;
      }
    }
  }

  &.right-sidebar #topic-progress-wrapper {
    bottom: 0 !important;
    position: fixed !important;
  }

  .timeline-container {
    right: -80px;
    position: absolute;
    margin-left: 0;
    transform: none;

    .topic-timeline {
      position: fixed;
    }
  }

  #topic-footer-buttons {
    padding: 10px;

    .btn {
      margin-right: 4px;
    }

    .popup-menu {
      bottom: 150px !important;
    }
  }

  #topic-closing-info + .btn-primary {
    margin-left: 10px;
  }

  #suggested-topics {
    background: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.4);

    p {
      padding: 10px 10px 0 10px;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      color: $tertiary;

      a.badge-wrapper {
        text-decoration: none;
      }

      a {
        vertical-align: top;
        text-decoration: underline;
      }
    }
  }

  .posts-wrapper {
    border-radius: 0 0 4px 4px;
    .small-action {
      width: 100%;
    }
    .gap.jagged-border {
      margin-left: 0;
    }
  }

  #topic-closing-info {
    display: none;
  }

  .topic-post {
    border-left: 0px;
  }

  .topic-avatar {
    border-top: none;
    padding: 0;
    margin-right: 10px;
    width: auto;
  }

  .topic-body {
    padding: 0;
    border-top: none;
    z-index: initial;
    float: none;
    overflow: hidden;
    width: auto;

    .regular {
      margin-top: 10px;
    }

    .poll {
      min-width: initial;

      .poll-container {
        min-width: initial;
      }
    }

    img:not(.thumbnail) {
      max-width: 100%;
      height: auto;
    }
  }

  .post-menu-area {
    margin: 20px 0 0 0;
    width: initial;
    float: right;
  }

  .topic-post > .boxed > .row {
    padding: 15px;
  }

  .topic-meta-data {
    margin: 5px 0;
  }

  .posts-wrapper {
    .small-action {
      width: initial;

      .topic-avatar {
        width: 20px;
        padding: 7px 10px;
        margin: 0;

        i {
          font-size: 20px;
          width: 20px;
        }
      }

      .small-action-desc {
        padding: 0;
        padding-left: 25px;
        line-height: 35px;
        margin-top: 0;

        .avatar {
          padding: 5px 0;
        }

        p {
          padding: 0;
        }
      }

      button {
        padding: 8px 12px;
      }
    }
  }

  .gap {
    width: 100%;
  }

  .embedded-posts {
    border-top: 1px solid $primary-low;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 10px;

    .topic-body {
      width: initial;
      overflow: hidden;
    }

    .collapse-up {
      transform: none;
    }
  }
}
