
.content-wrapper {
  text-align: center;
}

aside.sidebar {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  z-index: 1;
}

.sidebar-container {
  width: inherit;
  z-index: 10;
  &.fixed {
    position: fixed;
  }
}

.main-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 100px;
  border-radius: 4px;
  .list-controls {
    padding: 0;
  }
  &.has-sidebars {
    border: 1px solid #eee;
    .list-controls {
      padding: 7px 7px 0 7px;
      .nav {
        margin: 0;
      }
    }
    .topic-list .posters {
      min-width: initial;
    }
    .qa-post {
      padding: 0 5px 0 20px;
    }
    .signup-cta {
      width: initial;
      margin-bottom: 0;
    }
    .topic-list-bottom h3, #suggested-topics h3 {
      font-size: 14px;
    }
    .topic-list-bottom {
      margin: 10px;
    }
  }
  &.left-sidebar {
    margin-left: 10px;
  }
  &.right-sidebar {
    margin-right: 10px;
  }
  &.loading {
    box-shadow: none;
  }
  &.navigation-disabled {
    .list-controls {
      padding: 0;
    }
  }
  &.nav-menu-enabled {
    ol.category-breadcrumb {
      margin: 0;
    }
  }
}

.widget-container {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 7px;
  border: 1px solid #eee;
  position: relative;
  .widget-inner {
    width: 100%;
  }
  .widget-header {
    display: inline-block;
    text-decoration: underline;
    padding-bottom: 5px;
  }
  .widget-sub-header {
    color: $tertiary;
  }
  .widget-category {
    float: right;
  }
  .widget-description {
    padding-bottom: 5px;
  }
  .widget-controls {
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
  }
}

.main-content .nav-drop {
  a {
    color: $primary;
    font-size: 1.143em;
  }
  .selected-nav-item {
    display: inline-block;
    padding: 5px 8px;
    line-height: 20px;
    background-color: $quaternary !important;
    cursor: pointer;
    a {
      color: $secondary;
    }
  }
  a.nav-dropdown-btn {
    display: inline-block;
    margin-left: -4px;
    padding: 0 5px;
    line-height: 30px;
    width: 13px;
    color: $secondary;
    background-color: $quaternary;
    .fa-caret-right {
      margin-left: 2px;
    }
  }
  .nav-dropdown-menu {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    border: 1px solid dark-light-diff($primary, $secondary, 90%, -60%);
    background-color: $secondary;
    z-index: 100;
    a {
      display: block;
      border: none;
      padding: 5px 12px;
      line-height: 20px;
      transition: background .15s;
      &:hover {
        color: $quaternary;
        background-color: dark-light-diff($quaternary, $secondary, 70%, -70%);
      }
    }
  }
}

.main-content.navigation-disabled {
  .topic-list > tbody > tr:first-of-type {
    border-top: 1px solid #e9e9e9;
  }
}

.main-content.header-disabled {
  .category-list tbody tr:first-of-type {
    border-top: 1px solid #e9e9e9;
  }
}

#list-area .main-content.tags {
  .tag-notification-menu, .dropdown-toggle {
    margin: 0;
  }
  .admin-tag {
    margin: 0 8px;
  }
  .tag-show-heading {
    margin: 7px 7px 0 7px;
  }
}

.top-lists {
  padding: 0 7px;
}

.topic-list-bottom {
  margin: 20px 10px;
}

#list-area {
  margin-bottom: 0;
}

.topic-area #suggested-topics {
  margin-bottom: 0;
}

.widget-category-settings .select2-container {
  width: 100%;
}

.edit-category.backup {
  position: fixed;
  top: 75px;
  right: 10px;
}

#main-outlet > .category-admin-menu {
  position: fixed;
  top: 120px;
  right: 10px;
}

.pref-location {
  display: none;
}
