.services {
  margin-top: 5px;
  display: inline-block;
}
.service {
  .logo {
    margin-right: 5px;
    display: inline-block;
  }
  .review {
    display: inline-block;
    span.star-rating input[type="radio"]:hover:not(:disabled) + i {
      opacity: 0;
    }
  }
}
